* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  border: 5px solid red;
  padding: 10px;
  overflow: hidden;
}
/*float property used for image

use clear after using Float*/
.one {
  float: left;
  margin-left: 50px;
}

.ban/.flo/.att {
  float: left;
  height: 500px;
  width: 30%;
}

.flo {
  background: lightcyan;
}
.att {
  background: lightpink;
}
.ban {
  background: rgb(175, 214, 36);
}
h1 {
  clear: both;
}
